/*Common Shared Style*/
body{
    font-family: 'Merriweather', serif;
}

/* announcement related styles*/
/*header related styles*/
.banner{
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    border: 16px;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;

}
.wish{
    color: #ff0000;
    text-align: center;
    width:300px;
    height: 50px;
    font-size: 32px;
    font-weight:800;
    padding:300px 510px 0 510px;
    

}
.topic{
    color: #FFF;
    text-align: center;
    line-height: 95px;
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    height: 200px;
    padding:0 344px 120px 344px;
}
.discount-info{
    background: #FFF;
    width: 1600px;
    height:735px;
    text-align: center;

}
.discount-info-value{
    color: #F00;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    width: 400px;
    height: 30px;
    padding:0 468px 100px 468px;
    margin:0;
}
.discount-img{
    width: 700px;
    height: 400px;
    margin: 0 500px 0 300px;
    padding-bottom: 100px;

}
.discount-text{
    color: #F00;
    text-align: center;
    font-size:20px;
    font-weight: bold;
    width: 400px;
    height: 20px;
    padding-left: 460px;
    margin:0;

}
.discount-cat{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    width: 400px;
    height: 20px;
    padding: 0 460px 60px 460px;
    margin:0;
}
.party-banner{
background-image:url('../resources/Vectorrr.png');
width: 1320px;
height: 800px;
filter: brightness(75%);
background-repeat: no-repeat;
display: flex;


}
.party-ancmnt{
    color:#FFF;
    line-height: 95px;
    font-size: 64px;
    font-weight: 900;
    width: 642px;
    height: 176px;
    text-align: left;
    padding-left: 200px;
    padding-top: 40px;
}
.party-descrptn{
color:#FFF;
width: 600px;
font-size: 20px;
font-weight: 900;
text-align: left;
padding-top:0;
padding-left: 200px;
}
   
.party-join{
color:#FFF;
width: 600px;
font-size: 20px;
font-weight: 900;
text-align: left;
padding-top:10px;
padding-left: 230px;
} 
.side-image{
padding-top:90px;
}   